.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    letter-spacing: 2px;
}

body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    border-radius: 10px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    letter-spacing: 2px;
}

header {
    background-color: #FF6666;
    color: #fff;
    padding: 20px;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 0;
}

header h1 {
    font-size: 36px;
    font-weight: 900;
    letter-spacing: 3px;
}

.menu-section {
    display: none;
    list-style: none;
    padding: 0;
}

.ativo {
    display: block;
}

.menu-img {
    max-width: 200px; 
    height: auto;
    cursor: pointer; 
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto;
    max-width: 800px;
    padding: 0 20px;
}

.menu-content {
    width: 70%; 
}

.menu-options {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-options li {
    margin-right: 20px;
}

.menu-options li:last-child {
    margin-right: 0;
}

.btn-add {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-add:hover {
    background-color: #45a049;
}

.btn-quantidade {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-left: 10px;
}

.btn-quantidade:hover {
    background-color: #0056b3;
}
